body {
    font-family: HelveticaNeueLTStd-Roman,Arial,sans-sherif;
}
table {
    text-align:left;
}
#prog {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 250%;
    text-align: center;
}

