#intro {
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: white;
}
table {
    margin-left:auto;
    margin-right:auto;
}
.tabel td{
    padding:3px;
    color:white;
}
body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.wit {
    color:white;
}
.breed {
    width:100%;
    color:black;
}
.zwart {
    color:black;
}

.text-opmaak {
    float: center;
    height: 98%;
	color: white;
	text-shadow: -1px 0 black, 0 1px black,1px 0 black, 0 -1px black
	}
