h3 {
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
form {
    font-weight: bold;
}
body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
