#intro {
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: white;
}
table {
    margin-left:auto;
    margin-right:auto;
}
.tabel td{
    padding:3px;
    color:white;
}
body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
