


	body{
	background-image: url("img/background.png");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#logo{
	width: 25%;
	float: left;
	color: white;

	height: 100%;
	
}

.element2 {
    float: center;
    height: 98%;
	color: black;
	text-shadow: -1px 0 white, 0 1px white,1px 0 white, 0 -1px white;
	text-align: center;
	}
	
	table, th,td{
	  margin-left: auto;
	  margin-right: auto;
	  text-align: center;
	  vertical-align: middle;
	  position: relative;
	  top: 50%;
	  float: center;
	  width: 50%;
	  height: 25%;
	 

  }
  
  input[type=text]{
	  opacity: 0.5;
	  border: 0.5px solid black;
  }
	  
	  input[type=date]{
	  opacity: 0.5;
	  border: 0.5px solid black;
  }
  
  input[type=email]{
	  opacity: 0.5;
	  border: 0.5px solid black;
  }
  
	  


